<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>
<div style=" height: full; padding-left: 20%; padding-right: 20%; font-size: 16px; padding-top: 10%; padding-bottom: 10%; background: linear-gradient(187.16deg, #181623 0.07%, #191725 51.65%, #0D0B14 98.75%)">
<div style="color: white; "> 
<div style=" text-align: center; margin-bottom: 10%"> 
<img src="https://iili.io/SkGDlt.png">
<h1 style="font-size: 12px; color: #DDCCAA; "> MOVIE QUOTES</h1>
</div>
<p style="color: white;"> Hola {{username}}!</p>
	<p style="color: white;"> Thanks for joining Movie quotes! We really appreciate it. Please click the button below to change your account password:</p>
    <a href={{url}}> 
     <button style="cursor: pointer; width: 128px; height: 38px; border-radius: 4px; background: #E31221; border: none; color: white; font-size: 16px; margin-bottom: 15px">Verify account</button>
    </a>
   
	<p style="color: white;"> If clicking doesn't work, you can try copying and pasting it to your browser:</p>
    <a href={{url}} style="color: #DDCCAA; text-decoration: none;  margin-bottom: 15px;">{{url}}</a>
    	<p style="color: white;"> If you have any problems, please contact us: support@moviequotes.ge</p>
	<p style="color: white;"> MovieQuotes Crew</p>
</div>
	

    
</div>

</body>
</html>


